@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move left */
  }
}

.animate-marquee {
  animation: marquee 12s linear infinite;
}